DATABASE_URL="mysql://root:Rps@220068@localhost:3306/Shopsmart"
JWT_SECRET="your-jwt-secret"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"
CLIENT_URL="http://localhost:5173"
PORT=4000
